main {

}

.navbar {
    margin-bottom: 0px;
}

/* .jumbotron { */
/*     background-image: url("img/top.jpg"); */
/*     background-color: #17234E; */
/*     margin-bottom: 0;`enter code here` */
/*     min-height: 50%; */
/*     background-repeat: no-repeat; */
/*     background-position: center; */
/*     -webkit-background-size: cover; */
/*     background-size: cover; */
/* } */

.jumbotron {
    background: url(../img/top.jpg) center no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 
    black 1px 1px 0, black -1px -1px 0,
    black -1px 1px 0, black 1px -1px 0,
    black 0px 1px 0, black  0-1px 0,
    black -1px 0 0, black 1px 0 0;
}

