body {
    background-color: #ECECEC;
    color: #262626;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    height: 480px;
    background: url(../img/top.jpg) center no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 
    black 1px 1px 0, black -1px -1px 0,
    black -1px 1px 0, black 1px -1px 0,
    black 0px 1px 0, black  0-1px 0,
    black -1px 0 0, black 1px 0 0;
}

img.img-top {
    max-width: 200px;
    height: auto;
}

.topic-a {
    background-color: #A6E1FF;
    padding: 25px;
    margin: 10px 0;
}

.topic-b {
    background-color: #FDD0AC;
    padding: 25px;
    margin: 10px 0;
}

